@model IEnumerable<WordsUpWeb.Models.WordReviewViewModel>

<div>
    <div>
        @using (Html.BeginForm())
        {
            @Html.TextBox("add_new");
            <input type="submit" value="添加" />
        }

        
        <table id="review_pane">
        @foreach (var w in Model)
        {
            <tr>
                <td>@w.WordContent<td/>
                <td>@w.ReviewCount<td/>
                <td><a href="">学会一次</a></td>
                <td><a href="">查字典</a></td>
            </tr>
        }
        </table>
    </div>
</div>
